* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #f0F0F0;
}

header h1 {
    font-size: 108px;
    margin: 0px;
}

header h2 {
    font-size: 54px;
    margin: 0px;
    color: #888;
    font-style: italic;
}

nav ul {
    list-style: none;
    padding: 20px;
    display: block;
    clear: right;
    background-color: #666;
    padding-left: 4px;
    height: 48px;
}

nav ul li {
    display: inline;
    padding: 0px 20px 5px 10px;
    border-right: 1px solid #ccc;
}

nav ul li a {
    color: #EFD3D3;
    text-decoration: none;
    font-size: 39px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #fff;
}

article>header h1 {
    font-size: 60px;
    margin-left: 14px;
}

article>header h1 a {
    color: #993333;
}

article>header h1 img {
    vertical-align: middle;
}

article>section header h1 {
    font-size: 48px;
}

article p {
    clear: both;
}

footer p {
    text-align: center;
    font-size: 36px;
    color: #888;
    margin-top: 30px;
}

#intro,
#ad {
    left: 0px;
    top: 0px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

#intro .blankbackground {
    left: 0px;
    top: 0px;
    /* position: absolute; */
    width: 100%;
    height: 100%;
    z-index: 1;
    /* position: relative; */
    background-color: #1f1f1f;
    /**background-color: #ffffff;**/
}

#intro .mapbackground {
    /* left: -4px;
    top: -116px; */
    /* position: absolute; */
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0.4;
}

#intro .mapbackground img {
    width: 100%;
    height: 100%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

#ad .mapbackground img {
    width: 100%;
    height: 100%;
}

#intro .yekbuntv {
    /* left: 538px; */
    top: 76%;
    position: absolute;
    width: 47%;
    /* height: 181px; */
    z-index: 4;
    margin: auto;
    left: 0;
    right: 0;
}

#intro .yekbuntv img {
    width: 100%;
}

#intro .logo {
    /* left: 642px; */
    /* top: 289px; */
    top: 28%;
    position: absolute;
    width: 30%;
    /* height: 100%; */
    z-index: 55;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}

#intro .logo img {
    width: 100%;
}

.flex-container {
    display: flex;
}

.side-bar {
    width: 20%;
    background: #FFFFFF;
}

.logo-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    border-bottom: 3px solid #F0F0F0;
}

.search-box {
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.input-default {
    font-size: 26px;
    width: 80%;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}

.menu-item-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.menu-item-container {
    width: 100%;
    border-bottom: 3px solid #f0f0f0;
    font-size: 20px;
}

.menu-item-container.main {
    font-size: 26px;
}

.menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10%;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #f0f0f0;
}

.menu-item.active {
    background-color: #e0e0e0;
}

.menu-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.menu-item-icon-wrapper {
    height: 30px;
    width: 30px;
    display: inline-block;
}

.menu-item-icon {
    height: 30px;
}

.menu-item-text {
    color: #000000;
    padding-left: 5px;
}

.menu-item-caption {
    opacity: .4;
    padding-left: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content-caption-main {
    height: 50px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    font-size: 26px;
    padding-left: 10px;
    border-bottom: 3px solid #f0F0F0;
}

.main-content {
    flex-grow: 1;
    margin-left: 10px;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #ffffff;
}





/* new */


/* add related */

#ad .yekbuntv {
    top: 19%;
    position: absolute;
    width: 47%;
    margin: auto;
    left: 0;
    right: 0;
    margin-right: 17.5%;
    background-color: black;
}

#ad .yekbuntv img {
    width: 100%;
}

#ad .logo {
    top: 10%;
    position: absolute;
    width: 20%;
    z-index: 55;
    margin: auto;
    left: -50%;
    right: 0;
    text-align: center;
}

#ad .logo img {
    width: 100%;
}



#ad .centerbanner {
    top: 43%;
    position: absolute;
    width: 47%;
    margin: auto;
    left: 0;
    right: 0;
    margin-right:22.5%;
    background-color: red;
    color: white;
    text-align: center;
}

/* #ad .centerbanner img {
    width: 100%;
} */

#ad .Qeydkirin {
    top: 63%;
    position: absolute;
    width: 20%;
    margin: auto;
    left: 0;
    right: 0;
    margin-right: 20.5%;
}

#ad .Qeydkirin img {
    width: 80%;
}

#ad .Derbasbûn {
    top: 63%;
    position: absolute;
    width: 20%;
    z-index: 55;
    margin: auto;
    left: 0%;
    right: 0;
}

#ad .Derbasbûn img {
    width: 80%;
}

/* #ad .QeydkirinBBanner  {
    width: 80px;
    height: 70px;
    background-color: white;
    top: 50%;padding: 20%;
}



#ad .DerbasbûnBBanner  {
    width: 80px;
    height: 70px;
    background-color: white;
    padding: 20%;
} */

#ad .FrameBanner  {
    width: 80px;
    height: 70px;
    background-color: white;
    padding: 20%;
}

/* -------------------livestream start ---------- */
#ad .HeadingTitle
{
    top: 10px;
}

#ad .SocialMainDiv
{
    height: 138px;
    width: 130px;
    float: right;
    margin-top: 25px;
}

#ad .SocialInternalDiv
{
    margin-top: 80px;
}

#ad .SocialImageDiv
{
    float: left;
}

.SocialImageIcon
{
    width: 80px;
    height:35px;
    display:inline-block;
    margin-left:5px;
    margin-top: 4px;
}

.MessageImageIcon
{
    width: 20px;
    height:20px;
    margin-left:5px;
    margin-top: 4px;
}

.circleImageIcon
{
    width: 25px;
    height:25px;
    display:inline-block;
    margin-left:5px;
    margin-top: 4px;
}

/* -------------------livestream end ---------- */